<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'blog-home' %}">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'blog-home' %}">Home</a></li>
      <li><a href="{% url 'blog-about' %}">about</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'contact-button' %}"><span class="glyphicon glyphicon-plus"></span> Add contact</a></li>
      <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> profile</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% else %}
      <li><a href="{%url 'SignUp'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>